<h1>Dívida total</h1>

<table>
    <thead>
        <tr>
            <td>Tipo de crédito</td>
            <td>Total</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Crédito consignado</td>
            <td><%= format_debt(@debts[:payday_loan]) %></td>
        </tr>
        <tr>
            <td>Cheque especial</td>
            <td><%= format_debt(@debts[:check]) %></td>
        </tr>
        <tr>
            <td>Cartão de crédito parcelado</td>
            <td><%= format_debt(@debts[:installment_credit_card]) %></td>
        </tr>
        <tr>
            <td>Cartão de crédito atrasado</td>
            <td><%= format_debt(@debts[:revolving_credit_card]) %></td>
        </tr>
    </tbody>
</table>